<!DOCTYPE html>
<html ng-app="optionsApp">
<head>
  <title>GlobalMobile Settings</title>
  <script src="../lib/jquery.js"></script>
  <script src="./lib/angular.min.js"></script>
  <script src="./lib/angular-route.min.js"></script>
  <script src="options.js"></script>
  <link rel="stylesheet" href="options.css" />
</head>

<body ng-controller="optionsController">

  <div class="wl-well">
    <h2>GlobalMobile Settings</h2>

    <div class="always-on subsetting">
      <h3>Run By Default</h3>
      <div class="always-on-options">
        <div class="form">
          <input type="checkbox" id="autoRunCheckbox" ng-model="autoRun" ng-click="saveAutoRun()" />
        </div>
        <label for="autoRunCheckbox" class="label">
          By default GlobalMobile will only run on pages which have been added to the whitelist.
          Checking this box reverses this behavior -
          GlobalMobile will run on every page, except the pages added to the list.
        </label>
      </div>
    </div>

    <div class="whitelist subsetting">

      <div ng-if="!autoRun">
        <h3>Whitelist</h3>
        <div class="subtext">GlobalMobile will run on the sites below:</div>
      </div>
      <div ng-if="autoRun">
        <h3>Blacklist</h3>
        <div class="subtext">GlobalMobile will run on evey site EXCEPT those below:</div>
      </div>

      <div class="searchWrapper">
        <input type="search" placeholder="Search" ng-model="searchKey" />
      </div>
      <div class="wl-list">
        <div class="wl-sites">

          <div ng-if="!autoRun">
            <div class="wl-site" ng-repeat="site in whitelist|filter:searchKey">
              <div class="wls-host">{{site}}</div>
              <div class="wls-delete" ng-click="deleteSite()">X</div>
            </div>
          </div>

          <div ng-if="autoRun">
            <div class="wl-site" ng-repeat="site in blacklist|filter:searchKey">
              <div class="wls-host">{{site}}</div>
              <div class="wls-delete" ng-click="deleteSite()">X</div>
            </div>
          </div>

        </div>
        <button id="add-new" class="wl-add" ng-click="showAddNew()">Add New</button>
      </div>
    </div>
  </div>

  <div class="finished-row">
    <button id="finished" ng-click="closeOptions()">Close</button>
  </div>

  <div ng-view></div>

</body>
</html>