body {border: 1px solid blue; margin: 0;}
body > div {background-color: red; margin: 3em 0; position: relative;}
body > div:before {content: '50%'; position: absolute; left: 50%;}
body .vw-asset {border: 1px dotted green; width: 100vw;}
body .vw-external-asset {
  border: 1px dotted purple;
  width: 100vw; height: 10vw;
  /** Verify other css properties with vw don't get modified **/
  /* test css w/decimals */
  font-size: 2vw;
  /* data urls often have 'vw' in them */
  content: 'adsf234vwasdf';
  /* negative values */
  left: -33vw;
  transform: translate(33vw, 0);
  /* test css rules w/multiple values */
  text-shadow: rgb(0, 0, 0) 0px 0px 1vw;
}