@import "./test1.css";

body {background-color: red;}
body:before {content: "Desktop";}

@media (max-width: 400px) {
  body {background-color: green;}
  body:before {content: "Mobile";}
}

body > div {
  border: 3px dashed black;
  margin: 50px auto;
  padding: 30px;
  width: 300px;
  height: 150px;
  box-sizing: border-box;
}

.link-test {background-color: orange;}
.link-test:after {content: "Desktop View";}
@media (max-width: 400px) {
  .link-test {background-color: purple;}
  .link-test:after {content: "Mobile View";}
}
